@model schoolProjectMVC.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <div>
        Student First Name @Model.SFirstName
        <br />
        Student Last Name: @Model.SLastName
        <br />
        Student ID: @Model.SIdNumber
        <br />
        Assistant Employee Number @Model.SAssistantEmployeeNumber
        <br />
        ID Number Of Parent: @Model.SIDNumberOfParent
    </div>
</body>
</html>
