@model schoolProjectMVC.Models.Assistant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        Assistant First Name @Model.AFirstName
        <br />
        Assistant Last Name: @Model.ALastName
        <br />
        Assistant ID: @Model.AIDNumber
        <br />
        Assistant Employee Number: @Model.AEmployeeNumber
        <br />
        Id Student: @Model.IdStudent
        <br />
        Assistant Email: @Model.AEmail
    </div>
</body>
</html>
