@model schoolProjectMVC.Models.Assistant

@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div>


        @using (Html.BeginForm("SendPassword", "Assistant", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.AEmail)
            @Html.HiddenFor(model => model.AEmployeeNumber)
            @Html.HiddenFor(model => model.AFirstName)
            @Html.HiddenFor(model => model.AIDNumber)
            @Html.HiddenFor(model => model.ALastName)

            <i>New Password:</i>@Html.TextBoxFor(m => m.APassword) @Html.ValidationMessageFor(x => x.APassword)
            <br />
            <input id="Submit1" type="submit" value="Done" />
        }

    </div>
</body>
</html>
