@model schoolProjectMVC.Models.Parent

@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div>


        @using (Html.BeginForm("SendPassword", "Parent", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.IdNumber)
            @Html.HiddenFor(model => model.LastName)

            <i>New Password:</i>@Html.TextBoxFor(m => m.Password) @Html.ValidationMessageFor(x => x.Password)
            <br />
            <input id="Submit1" type="submit" value="Done" />
        }


    </div>
</body>
</html>
