@model schoolProjectMVC.Models.Parent
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parent</title>
</head>
<body>
    <div>
        Parent First Name: @Model.PFirstName
        <br />
        Parent Last Name: @Model.PLastName
        <br />
        Parent ID: @Model.PIdNumber
        <br />
        Parent Email: @Model.PEmail
        <br />
        Parent Password: @Model.PPassword
        <br />
        Child Password: @Model.PStudentIdNumber
        <br />
        Assistant Employee Number: @Model.PAssistantEmployeeNumber
    </div>
</body>
</html>
